.contain{
    background: url("../../images/BackGround.png");
    background-size: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    box-sizing: border-box;
    border: 5px black solid;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    width: 25vw;
    height: 35vh;
    border: 8px solid rgb(104, 61, 5);
    
    box-shadow: 1px 5px 5px black;
}
.details{
    background-color: rgb(240, 248, 255);
    margin-top: 20px;
    background-image: url('../../images/backpath.png');
    background-size: 4em;
    backface-visibility: hidden;
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-shadow: 2px 2px 2px whitesmoke;
    border: 5px solid black;
    font-size: 15px;
}
.divDet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.button{
    background-color: antiquewhite;
    height: 40px;
    width: 60px;
    border-radius: 20%;
}
.button:hover{
    cursor: pointer;
}
.link{
    text-decoration: none;
    display: flex;
    color: black;
    flex-direction: column;
}